<%- include("header") -%>
<div class="intro">
    <h1 class="greeding">WELCOME!</h1>
    <p class="about">This is a shopping list helping the users to note and track what they needs to buy</p>
</div>
<form action="/about" method="POST">
    <button class="btn"><span></span><small>Home</small> </button>
</form>

<%- include("footer")-%>